<div class="container">
  <div class="row">
    <div class="col-4"> 
      <ul class="list-group">
        <li *ngFor="let item of items | async" class="list-group-item">
          {{item.Nombre}}-{{item.edad}}
        </li>
      </ul>
    </div>

    <div class="col-8">
      <ul class="list-group">
        <li *ngFor="let item of misPosts">
          {{item.id}} -- {{item.title}}
        </li>
      </ul>
    </div>
    
  </div>
</div>



<div class="container mt-4">
<div class="row">
  <div class="col">
    <button type="button" (click)="createPost()" class="btn btn-primary">Crear post</button>
  </div>

  <div class="col">
    <button type="button"  (click)="updatePost()" class="btn btn-warning">Actualizar</button>
  </div>

  <div class="col">
    <button type="button" (click)="deletePost()" class="btn btn-danger">Borrar post</button>
  </div>
</div>



</div>



<router-outlet></router-outlet>
